page-home {

}
.main-bg{
  background-image: url("../img/main.jpg");
  background-size: cover;

}
// .toolbar-background {
//     background-color:#4BAC83;
//     color: #fff;
// }
.timer-div{
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 40%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  opacity: 0.7;
}
.scroll-content{
  text-align: center;
}
